*,
*::after,
*::before,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* justify-content: flex-start; */
    line-height: 1.5;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    min-width: 1200px;
}

/* header */

header {
    margin: 0 30px;

    padding: 0 30px;
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 16px;
    position: relative;
    margin-bottom: 30px;
}

header::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.70);
}


.header__title {
    font-family: 'Goblin One', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.header__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34.55px;
}

.header__link {
    color: #000;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    text-decoration: underline;
}

/* author */
.author__container {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 30px 50px;
    display: none;
}

.author__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.author__header__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    font-family: 'Times New Roman', Times, serif;
}

.author__content {
    display: flex;
    gap: 91px;
}

.closeModal {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    opacity: 1;
    cursor: pointer;
    transition: opacity ease 0.5s;

    &:hover {
        opacity: 0.4;
    }
}

.closeModal::before,
.closeModal::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 40px;
    height: 3px;
    background: #000;
}

.closeModal::before {
    transform: rotate(45deg);
}

.closeModal::after {
    transform: rotate(-45deg);
}



.author__text__list h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
}

.author__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}





.author__content img {
    width: 312px;
    height: 334px;
}

/* main */

main {
    display: flex;
    gap: 47px;
    padding: 0 30px 130px;
}

/* sadebar */

.sadebar {
    padding-left: 35px;
    width: 30%;
}

.sadebar__link {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.sadebar__link:last-child {
    margin-top: 30px;
    padding-left: 30px;
    position: relative;
}

.sadebar__link:last-child::after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    background: url(img/Vector.svg) no-repeat center;
}

.sadebar__link.active {
    background: #FDFF9A;
    text-decoration: none;
}

.main__text__container {
    width: 70%;
    display: none;
}

.main__text__container.active {
    display: block;
}

.main__text {
    font-size: 18px;
    line-height: 25px;
    font-size: italic;
    margin-bottom: 30px;
}





/* second page */

.first__formul {
    display: block;
    margin-bottom: 55px;
}

.formul_container {
    display: flex;
    /* gap: 25px; */
    gap: 95px;
    /* justify-content: space-between; */
    margin-bottom: 65px;
}

.formul__container {
    display: flex;
    gap: 5px;
}

.formul__list {
    width: 100%;
    padding-right: 15px;
    border-right: 1px solid #ddd;
}

.formul__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    gap: 25px;
}

.formul {
    position: relative;
    cursor: pointer;
    width: 500px;
    height: 40px;
}


.formul1 {
    background: url(img/formul1.png) no-repeat;
}


.formul2 {
    background: url(img/formul2.png) no-repeat;
}

.formul3 {
    background: url(img/formul3.png) no-repeat;
}

.formul4 {
    background: url(img/formul4.png) no-repeat;
}

.formul5 {
    background: url(img/formul5.png) no-repeat;
    height: 77px;
}

.formul__numbers {
    cursor: pointer;
    padding: 10px 17px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    font-size: 25px;
    line-height: 25px;
}

.formul__legend {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    font-size: 18px;
    padding: 7px 40px;
    height: fit-content;
    border-radius: 16px;
    margin: auto 0;
    width: fit-content;
    cursor: pointer;
}

.formul__item.active .formul__numbers,
.formul__item.active.formul__legend {
    background: #FDFF9A;
}



.formul__item.active .formul::after {
    position: absolute;
    z-index: 5;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #faff00;
    opacity: 22%;
}




/* foormul__text__container */

.formul__text__container {
    display: none;

}

.formul__text__container.active {
    display: block;
    background: #FFFBE4;
    margin-bottom: 75px;
    padding: 30px 40px 75px 47px;
}

.formul__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 34.55px;
    margin-bottom: 15px;
}

.formul__text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
}

.formul__text.italic {
    font-style: italic;
}

.formul__img {
    margin-bottom: 30px;
}


/* calculator */

.calculator__container {
    display: flex;
    gap: 36px;
}

.calculator__list {
    width: 50%;
}

.calculator__items__num {
    display: flex;
    margin-bottom: 35px;
    gap: 16px;
}

.calculator__num__element__container {
    display: flex;
    align-items: end;
    gap: 22px;
}

.calculator__num__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 5px;
}

.calculator__num__element__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 15px;
}

.calculator__items__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.calculator__inpit {
    outline: none;
    border-radius: 8px;
    text-align: end;
    padding: 10px 15px;
    border: none;
    box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.2) inset;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 17px;
    line-height: 17px;
}

.year__sp {
    width: 125px;
}

.year__up {
    width: 52px;
}

.calculator__img {
    width: 455px;
    height: 295px;
}


.second {
    margin-top: 30px;
}

.calculator__element__container {
    width: 20%;
}

.calculator__element__container:nth-child(1) {
    width: 20%;
}

.calculator__element__container:nth-child(2) {
    width: 10%;
}

.calculator__grid {
    display: flex;
    gap: 10px;
}

.calculator__header {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
}

.calculator__header span {
    font-weight: 700;
}

.calculator__grid .calculator__inpit {
    margin-bottom: 10px;
}

.calculator__grid .infinity {
    font-size: 45px;
    height: 44px;
    font-weight: 400;
    pointer-events: none;
}

.calculator__grid .calculator__designations {
    margin-bottom: 37px;
    margin-top: 22px;
}

.calculator__designations {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

.calculator__designations.green {
    color: #008000;
}

.calculator__designations.red {
    color: #FF0000;
}

.calculator__designations.yellow {
    color: #FFA500;
}

.calculator__designations.blue {
    color: #0091B1;
}

.calculator__designations.perpel {
    color: #800080;
}

.calculator__designations.cyan {
    color: #0000FF;
}

.calculator__grid .calculator__inpit {
    width: 88px;
}



/* footer */

footer {
    margin: auto 0 0;
    background: #7c7c7c;
    padding: 35px 65px 105px;
    display: flex;
    gap: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
}

.calculator__chart {
    box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.2) inset;
    padding: 5px;
    max-width: 455px;
    max-height: 295px;
}